.container {
    display: grid;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
    grid-gap: 5px;
    grid: 2px;
    margin: 10vh 0 0 35vw;
}
.container div {
    border: 1px solid;
    height: 7vh;
    text-align: center;
    padding-top: 25% ;
  }