.container {
    display: grid;
    grid-template-columns: 6vw 6vw 6vw 6vw 6vw;
    grid-gap: 0px;
    gap: 1.5% 0%;
    margin: 4vh 0 0 35vw;
}
.fill {
    width: 5vw;
    height: 9vh;
    text-align: center;
    font-size: 45px;
    border: 2px solid;
    animation-delay: 0.2s;
    animation-name: zoom-border;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
  }
  .green {
    background-color: rgb(4, 160, 51);
    animation-delay: 0;
    animation-name: spinHorizontal;
    animation-duration: 2s;
  }
  .orange {
    background-color: rgb(255, 167, 52);
    animation-delay: 0;
    animation-name: spinHorizontal;
    animation-duration: 2s;
  }
  @media  screen and (min-width: 1600px)  {
    .fill{
        padding-top: 1.5vh;
    }   
}
.empty {
    border: 1px solid;
    width: 5vw;
    height: 9vh;
    text-align: center;
    padding-top: 1.7vw ;
  }  
  @keyframes zoom-border {
    0%   {border-color: black; border: 1px solid; transform: scale(1, 1);}
    50%  {border-color: black; border: 1.5px solid; transform: scale(1.2, 1.2);}
    100% {border-color: black; border: 2px solid; transform: scale(1, 1);}
  }
  @keyframes spinHorizontal {
    0% { transform: rotateY(360deg); }
    100% { transform: rotateY(0deg); }
} 