.keyboard-container {
    position: fixed;
    bottom: 2vw;
    text-align: center;
    width: 100vw;
    padding: 2px;
    margin-bottom: 50px;
    height: 12vw;
 }   
.keyboard-container  input {
    border-color: rgb(172, 177, 177);
    background-color: rgba(152, 163, 211, 0.301);
    width: 4vw;
    height: 5vw;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 0px;
    margin: 4px;
    border-radius: 10px;
}
.keyboard-container  input:hover {
    background: rgba(152, 163, 211, 0.452);
    border-color: rgb(172, 177, 177);

}

/* RESPONSIVE DESIGN FOR MOBILE */
@media  only screen 
and (min-device-width: 375px) 
and (max-device-width: 915px)  
and (orientation: portrait)   {
    .keyboard-container {
        bottom: 30vw;
        width: 100vw;
        height: 15vw;
        margin-bottom: 50px;
     }   

    .keyboard-container  input {
        width: 9vw;
        margin: 1px;
        height: 15vw;
        font-size:15px;
    }   
} 
